h2.title{
 
  text-align: center;
}

.card{
  margin-top: 40px;
  margin: auto;
  border: 5px solid black;
}

.card-img-top{
  width: 100%;

}

.aboutUs{
  background-image: url("../css/rugby1.png");
  background-size: cover;                      
  background-position: center ; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 800px;
}

body {
  background-size: 100% 100%;
}
html {
  height: 100%
}

.layerRed {
  background-color: rgba(194, 25, 25, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layerGray {
  background-color: rgba(20, 20, 20, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.calendar{
  display: flex; 
  width: 100%; 
  height: 100%; 
  flex-direction: column; 
  overflow: hidden;
}


.text {
  /* position: absolute; */
  top: 0; 
  left: 0;
  width:100%;     
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: "Apple Chancery",  cursive;
  font-size: 50px;
}