body {
  height: 118vh;
  width: 100%;
  background: url('../assets/actualBackground.png');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);

}

h1{
  color: black;
  text-decoration: underline;
  font-size: 50px;

}

.center {
  margin: auto;
  margin-top: .5%;
  width: 50%;
  height: 50%;
  padding: 5px;
  text-align: center;
  color: black;
  font-size: 24px;
  background-size: contain;   
  
}

.makeNice{
  width: 50vw;
  height: 60vh;
}

@media (max-width: 575.98px) {
  body{font-size: 13px; }
  .center{
    width: 80%;
    background-size: 600px;

  }
  h1{
    font-size: 60px;
    margin-bottom: 50px;
  }
  .makeNice{
    width: 82vw;
    margin-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  body{font-size: 18px;
      color: white;
    }
  .center{
      width: 80%;
      background-size: 700px;
      margin-top: 5%;}
  h1{
    font-size: 60px;
  }
}

@media (max-width: 1399.98px) {
  body{font-size: 18px;
    color: white;
      background-size: 600px;
    }
    .center{
      margin-top: 5%;
    }
}


@media (max-width: 1660.98px) {
  body{font-size: 18px;
    color: white;
      background-size: 600px;}
}


