
h2{
  text-decoration: underline;
  margin-bottom: 20px;
  color: white;
  margin-left: 10px;
}

.center{
  text-align: center;
  text-decoration: underline;
  background: red;
  background: -webkit-linear-gradient(left, black , black, black, red purple, white);
  background: -o-linear-gradient(right, black, black, black, red, purple, white);
  background: -moz-linear-gradient(right, black, black, black, red, purple, white);
  background: linear-gradient(to right, black , black, black, red, purple, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 16vw;
}

.marg{
 margin-bottom: 5vh; 
}

body {
  height: 118vh;
  width: 100%;
  background: url('../assets/actualBackground.png');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;


}