.picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

body{
  background-image: url("../assets/logos/backgroundA.png");
  background-size: 100%;                      
  background-position: center ; 
  
}


#schedule {
  margin-top: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  text-align: center;
} 

td, th{
  border: 1px solid black;
  padding: 8px;

}

#schedule tr:nth-child(even){
background-color: #f2f2f2;
}

#schedule tr:nth-child(odd){
  background-color: #b5b3b3;
  }

#schedule tr:hover{
  background-color: #ddd;
  }

#schedule th{
  text-align: center;
}

.logo{
  width: 60px;
  height: 60px;
}

table tr td:first-child +td{
  width: 70%;
  padding-left: 10%;
}

