body{
  background-color: #3c3c3c;
}
.container{
	width: 100%;
}

.card{
	margin-bottom: 5%;
	background-color: #fff;
	border:none;
	border-radius: 10px;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.image-container{
	position: relative;
}



.item-size{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid grey;
	color: grey;
	font-size: 10px;
	text-align: center;
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 10px;

}


body{
	background: url("../assets/blackMist.png");
 }
span{
	margin-left: 1vw;
 }




 .newContainer{
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

form{
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 3vh 2vw; 
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
	;
}

form h3{
  color: #555;
  text-align: center;
  font-weight: 800;
	font-size: 20px;
  margin-bottom: 20px;
  justify-content: center;

}

form input, form textarea{
  border: 0;
  margin: 5px ;
  padding: 2px;
  outline: none;
  background: #f5f5f5;
  font-size: 16;
}

#button {
  padding: 15px;
  background: #ff5361;
  color: white;
  font-size: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}
